# Write a python program that takes a name and returns a greeting in the form of a string.

In [8]:
def merhaba():
    name = str(input("please write your name"))
    return "Wellcome", name, ":). How are you today?"

In [9]:
merhaba()

please write your nameerdem

('Wellcome', 'erdem', ':). How are you today?')

In [5]:
#solution
def hello_there(name):
    return "Hello {}!".format(name)

In [6]:
hello_there('Tamer')

'Hello Tamer!'

In [12]:
def hello(name):
    return 'Hello {}'.format(name)

In [13]:
hello('mah')

'Hello mah'

#Coding Exercise (2)
https://www.udemy.com/course/python-exercises-workbook/learn/lecture/22528266#overview

 Write a Python program that Create a function that gives True if a string is empty and False otherwise.
- Try it for '' and '   5gh'

In [1]:
def empty(st):
    return not st

In [2]:
empty('')

True

In [3]:
empty('   5gh')

False

- Write a Python program that remove the extra spaces from the following string:
' I am        learning Python      bject        oriented     programming '

In [19]:
sadasdasd = ' I am        learning Python      bject        oriented     programming '

In [21]:
sadasdasd.split()

['I', 'am', 'learning', 'Python', 'bject', 'oriented', 'programming']

In [23]:
def clean_up(sentnce):
    res = " ".join(sentnce.split())
    return res

In [24]:
clean_up(' I am        learning Python      bject        oriented     programming ')

'I am learning Python bject oriented programming'

In [ ]:
#solution

In [12]:
def remove_extra_spacing(st):
    return ' '.join(st.split())

In [13]:
remove_extra_spacing(' I am        learning Python      bject        oriented     programming ')

'I am learning Python bject oriented programming'

Coding Exercise (4)
- Write a python program that reverse the case of string :
string = "I am a python developer"

In [25]:
#def reverse_sent(st):
#    return st[::-1]

In [26]:
#string = "I am a python developer"

In [27]:
#reverse_sent(string)
#wrong answer

'repoleved nohtyp a ma I'

In [30]:
#solution

def reverse_case(s):
    return s.swapcase()

In [31]:

reverse_case("I am a python developer")

'i AM A PYTHON DEVELOPER'

Coding Exercise (5)
- Display the number of letters in the string:
my_word = "Python is wonderful"

In [35]:
def count_letter(st):
    return len(st)

In [38]:
count_letter('Python is wonderful')

19

In [37]:
#solution
my_word = "Python is wonderful"

print(len(my_word))

19

Coding Exercise (6)
- Concatenate the following two strings together:
string_left = "Spider"
string_right = "man"

In [39]:
def concat_baby(str1,str2):
    return str1 + str2

In [40]:
str1= "Spider"
str2="man"
concat_baby(str1,str2)

'Spiderman'

In [41]:
#solution
string_left = "Spider"



string_right = "man"



print(string_left + string_right)

Spiderman

In [ ]:
Coding Exercise (7)
- Display two strings together, with a space in between
string_one = "Python"
string_two = "Programming"

In [44]:
def concat_baby_spc(str1,str2):
    return str1 + ' ' + str2

In [45]:
concat_baby_spc(str1,str2)

'Spider man'

In [46]:
#solution
string_one = "Python"
string_two = "Programming"

print(string_one + " " + string_two)

Python Programming

- Use sub scripting to display part of a string
"Python"

In [47]:
print("python"[3:5])

ho

In [51]:
##- Switch the case of the following strings into lower case :
string1 = "Python"
string2 = "Programming"
string3 = "Language"

In [61]:
print(string1.lower())
print(string2.lower())
print(string3.lower())

python
programming
language

Coding Exercise (10)
- Replace every occurrence of the character "s" with the character "x"
phrase = "Somebody said something to Sara."

In [63]:
phrase = "Somebody said something to Sara."
print(phrase.replace("s","x"))

Somebody xaid xomething to Sara.

In [64]:
#solution
phrase = "Somebody said something to Sara."
phrase = phrase.replace("s", "x")
print(phrase)

Somebody xaid xomething to Sara.

In [66]:
5/2

2.5

In [67]:
5//2

2

Coding Exercise (11)
In one of  Famous Coffee Mixer shops chain every 6 days with every day one cup of coffee customer buys, customer gets a 7th cup free in the weekend (Sunday)!
Create a Python program that takes numbers of cups bought and return the total number of cups that customer would get and
also the number of  free cups for one month( for both 30 days & 31 days):

In [72]:
n = 30
def total_cups_cust(n):
    return n//6 + n

total_cups = total_cups_cust(n)
def total_cups_gets_free(total_cups):
        return round(total_cups/6, 0)

print(('Total cups for 30 days = ') + str(total_cups_cust(n)))
print(('Free cups in 30 days = ') + str(total_cups_gets_free(total_cups)))
     
n = 31
print(('Total cups for 31 days = ') + str(total_cups_cust(n)))
print(('Free cups in 31 days = ') + str(total_cups_gets_free(total_cups)))

Total cups for 30 days = 35
Free cups in 30 days = 6.0
Total cups for 31 days = 36
Free cups in 31 days = 6.0

In [ ]:
https://www.udemy.com/course/python-exercises-workbook/learn/lecture/22536678#overview