# Write a python program that takes a name and returns a greeting in the form of a string.

In [8]:
def merhaba():
    name = str(input("please write your name"))
    return "Wellcome", name, ":). How are you today?"

In [9]:
merhaba()

please write your nameerdem

('Wellcome', 'erdem', ':). How are you today?')

In [5]:
#solution
def hello_there(name):
    return "Hello {}!".format(name)

In [6]:
hello_there('Tamer')

'Hello Tamer!'

In [12]:
def hello(name):
    return 'Hello {}'.format(name)

In [13]:
hello('mah')

'Hello mah'

#Coding Exercise (2)
https://www.udemy.com/course/python-exercises-workbook/learn/lecture/22528266#overview

 Write a Python program that Create a function that gives True if a string is empty and False otherwise.
- Try it for '' and '   5gh'

In [1]:
def empty(st):
    return not st

In [2]:
empty('')

True

In [3]:
empty('   5gh')

False

- Write a Python program that remove the extra spaces from the following string:
' I am        learning Python      bject        oriented     programming '

In [19]:
sadasdasd = ' I am        learning Python      bject        oriented     programming '

In [21]:
sadasdasd.split()

['I', 'am', 'learning', 'Python', 'bject', 'oriented', 'programming']

In [23]:
def clean_up(sentnce):
    res = " ".join(sentnce.split())
    return res

In [24]:
clean_up(' I am        learning Python      bject        oriented     programming ')

'I am learning Python bject oriented programming'

In [ ]:
#solution

In [12]:
def remove_extra_spacing(st):
    return ' '.join(st.split())

In [13]:
remove_extra_spacing(' I am        learning Python      bject        oriented     programming ')

'I am learning Python bject oriented programming'

Coding Exercise (4)
- Write a python program that reverse the case of string :
string = "I am a python developer"

In [25]:
#def reverse_sent(st):
#    return st[::-1]

In [26]:
#string = "I am a python developer"

In [27]:
#reverse_sent(string)
#wrong answer

'repoleved nohtyp a ma I'

In [30]:
#solution

def reverse_case(s):
    return s.swapcase()

In [31]:

reverse_case("I am a python developer")

'i AM A PYTHON DEVELOPER'

Coding Exercise (5)
- Display the number of letters in the string:
my_word = "Python is wonderful"

In [35]:
def count_letter(st):
    return len(st)

In [38]:
count_letter('Python is wonderful')

19

In [37]:
#solution
my_word = "Python is wonderful"

print(len(my_word))

19

Coding Exercise (6)
- Concatenate the following two strings together:
string_left = "Spider"
string_right = "man"

In [39]:
def concat_baby(str1,str2):
    return str1 + str2

In [40]:
str1= "Spider"
str2="man"
concat_baby(str1,str2)

'Spiderman'

In [41]:
#solution
string_left = "Spider"



string_right = "man"



print(string_left + string_right)

Spiderman

In [ ]:
Coding Exercise (7)
- Display two strings together, with a space in between
string_one = "Python"
string_two = "Programming"

In [44]:
def concat_baby_spc(str1,str2):
    return str1 + ' ' + str2

In [45]:
concat_baby_spc(str1,str2)

'Spider man'

In [46]:
#solution
string_one = "Python"
string_two = "Programming"

print(string_one + " " + string_two)

Python Programming

- Use sub scripting to display part of a string
"Python"

In [47]:
print("python"[3:5])

ho

In [51]:
##- Switch the case of the following strings into lower case :
string1 = "Python"
string2 = "Programming"
string3 = "Language"

In [61]:
print(string1.lower())
print(string2.lower())
print(string3.lower())

python
programming
language

Coding Exercise (10)
- Replace every occurrence of the character "s" with the character "x"
phrase = "Somebody said something to Sara."

In [63]:
phrase = "Somebody said something to Sara."
print(phrase.replace("s","x"))

Somebody xaid xomething to Sara.

In [64]:
#solution
phrase = "Somebody said something to Sara."
phrase = phrase.replace("s", "x")
print(phrase)

Somebody xaid xomething to Sara.

In [66]:
5/2

2.5

In [67]:
5//2

2

Coding Exercise (11)
In one of  Famous Coffee Mixer shops chain every 6 days with every day one cup of coffee customer buys, customer gets a 7th cup free in the weekend (Sunday)!
Create a Python program that takes numbers of cups bought and return the total number of cups that customer would get and
also the number of  free cups for one month( for both 30 days & 31 days):

In [72]:
n = 30
def total_cups_cust(n):
    return n//6 + n

total_cups = total_cups_cust(n)
def total_cups_gets_free(total_cups):
        return round(total_cups/6, 0)

print(('Total cups for 30 days = ') + str(total_cups_cust(n)))
print(('Free cups in 30 days = ') + str(total_cups_gets_free(total_cups)))
     
n = 31
print(('Total cups for 31 days = ') + str(total_cups_cust(n)))
print(('Free cups in 31 days = ') + str(total_cups_gets_free(total_cups)))

Total cups for 30 days = 35
Free cups in 30 days = 6.0
Total cups for 31 days = 36
Free cups in 31 days = 6.0

In [ ]:
https://www.udemy.com/course/python-exercises-workbook/learn/lecture/22536678#overview

Coding Exercise (12)
Write a Python program to return the last item in a list ?
x = [1,2,3,4,5,6,7,8,9,10]
y = [10,20,30,40,50,60,70,80,90,100]
z = [110,220,330,440,550,660,770,880,990]

In [1]:
def last_num(n):
    return(n[-1])

In [2]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [10,20,30,40,50,60,70,80,90,100]
z = [110,220,330,440,550,660,770,880,990]

In [3]:
last_num(x)

10

Coding Exercise (13)
Write a Python program to reverse a list.

In [4]:
def return_list(x):
    return(x[::-1])

In [5]:
return_list(x)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Coding Exercise (14)
Write a python program that return the difference between first and last items in a list?
a = [110,140,170,200,230,260,290,320,350,380,410,440,470,500]

In [8]:
def difference(n):
    return x[0]-x[-1]

In [9]:
difference(x)

-9

Coding Exercise (15)
Write a python program that return the sum of the absolute value of each element of a list :
x = [10,20,30,40,50]

In [12]:
def sum_of_abs(list):
    sum_s = 0
    for i in list:
        sum_s += abs(i)
    return sum_s

In [13]:
sum_of_abs(x)

55

In [14]:
# solution
def abs_sum(x):
    return sum(map(abs, x))

In [15]:
abs_sum(x)

55

In [19]:
print(*map(abs,x))

1 2 3 4 5 6 7 8 9 10

Coding Exercise (16)
Write a python program that Return the largest number in the list.
x = [10,20,30,40,50,60,70,80,90,100]

In [20]:
def largest(list):
    return max(list)

In [21]:
largest(x)

10

In [ ]:
Write a Python program that accepts a list and returns the last item in the list.
Try it for the following list:
x= [ 1,2,3,4,5,'a','b','c','d','e']

In [22]:
def last_item(list):
    return list[-1]

In [24]:
x= [ 1,2,3,4,5,'a','b','c','d','e']

In [25]:
last_item(x)

'e'

Coding Exercise (18)
create a Python program to sort a list in ascending order which starting from the left of the list and,compare numbers by pairs. If the first pair is ordered [smaller number, larger number], and  so on.
If the first pair is ordered [larger number, smaller number], swap the two integers before moving on to the next pair.
then repeat this process again until you get to the end of the list.
Then, return to the beginning of the list and repeats this process again until the entire list is sorted.
If the unsorted list is: [5,100,20,15,150,80,210,30], what is the number of swaps you will need?

In [26]:
#solution

def number_of_swaps(lst):

    swaps, target = 0, sorted(lst)

    while lst != target:

        for i in range(len(lst) - 1):

            lst[i], lst[i+1] = lst[i+1], lst[i]

            swaps += 1

        return swaps

In [27]:
number_of_swaps([5,100,20,15,150,80,210,30])

7

In [3]:
def return_num(liste):
    numb, target = 0, sorted(liste)
    while liste != target:
        for i in range(len(liste)-1):
            liste[i], liste[i+1] = liste[i+1], liste[i]
            
            numb += 1
        return numb

In [4]:
return_num([5,100,20,15,150,80,210,30])

7

Coding Exercise (19)
Create a function that accepts a list of numbers and return both the minimum and maximum numbers, in that order (as a list).

In [14]:
def re_num(liste):
    return "min value:", min(liste), "max value:", max(liste)

In [15]:
re_num([5,100,20,15,150,80,210,30])

('min value:', 5, 'max value:', 210)

In [16]:
def min_max(nums):

  return [min(nums), max(nums)]

In [17]:
min_max([5,100,20,15,150,80,210,30])

[5, 210]

Write a Python program that complete an array with random numbers:

In [19]:
from random import randint

x = 20
array =[]

for i in range(x):
    array.append(randint(1,99))

for i in array:
    print(i, end= ' ')

print()

Create a Python program that takes a number and returns a list with the digits of the number in reverse order.

In [21]:
def reverse_list(num):

    return [int(i) for i in str(num)[::-1]]