In [2]:
import re  # regular expression

In [3]:
import pandas as pd

In [9]:
text = "A234B"

In [11]:
num = re.search("\d\d", text)  # int değerleri ifade eden \d ifadesi

In [12]:
num

In [13]:
num.group()

'23'

In [14]:
num2 = re.search("\d\d\d", text)

In [15]:
num2.group()

'234'

In [16]:
text2 = "4PM"

In [19]:
nondeci = re.search("\D\D", text2)

In [20]:
nondeci.group()

'PM'

In [30]:
text = "My phone number is 5055552356"

In [23]:
phone = re.search("\d"*10, text)

In [24]:
phone.group()

'5055552356'

In [25]:
phone2 =re.search("\d\d\d\d\d\d\d\d\d\d",text)

In [26]:
phone2.group()

'5055552356'

In [31]:
output = re.search("(\d\d\d)(\d\d\d)(\d\d\d\d)", text)

In [32]:
output.group(1)

'505'

In [33]:
output.group(2)

'555'

In [34]:
output.group(3)

'2356'

In [41]:
value = "= 1, t 10, o 100. 100000"

In [42]:
output = re.findall("\d{1,2}",value)  # 1 basamaklı ve 2 basamaklı int değerleri al
output

['1', '10', '10', '0', '10', '00', '00']

In [43]:
output = re.findall("\d{1,3}",value)
output

['1', '10', '100', '100', '000']

In [44]:
output = re.findall("\d{1,5}",value)
output

['1', '10', '100', '10000', '0']

In [45]:
output = re.findall("\d{1,6}",value)
output

['1', '10', '100', '100000']

In [46]:
phone = "2004-959-559 # This is Phone Number"

In [48]:
output = re.sub("\D","",phone)
output

'2004959559'

In [50]:
output = re.sub("\D",".",phone)  # integer olmayanları remove edip hepsinin yerine . koydu.
output

'2004.959.559.......................'

In [51]:
s = pd.Series(["a3","b4","c5"])

In [52]:
s

0    a3
1    b4
2    c5
dtype: object

In [54]:
result = s.str.extract("(\d)")
result

   0
0  3
1  4
2  5

In [55]:
result = s.str.extract("(\d\d)")
result

     0
0  NaN
1  NaN
2  NaN

In [56]:
result = s.str.extract("(\D)")
result

   0
0  a
1  b
2  c

In [57]:
s = pd.Series(["a3","b45","c555555"])
s

0         a3
1        b45
2    c555555
dtype: object

In [58]:
s.str.extract("(\d{1,10})")

        0
0       3
1      45
2  555555

In [59]:
s = pd.Series(["a3aa","b4aa","c5aa"])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [66]:
s.str.extract("(\w)")  # w any letter demek

   0
0  a
1  b
2  c

In [70]:
s.str.extract("(\w)\d(\w)(\w)")  # \d olanı yani sayıyı gruplamadık. Sayı var dedik, onu algıla ama gruplama

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [72]:
s.str.extract("(\w)\d(\w\w)")

   0   1
0  a  aa
1  b  aa
2  c  aa

In [74]:
s.str.extract("(\w)\w(\w)(\w)")

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [81]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])

In [82]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [80]:
result = s.str.extract("(\d\d|\d.\d|\d)")
result

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [83]:
result = s.str.extract("(\d\d|\d.\d|\d).+()")  # şeklinde de ikinci bir gruplama eklenebilir.